.shopStyle{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.productStyles {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: lightgray;
    justify-content: space-around;
    align-items: center;
 }

 .filterButton{
     margin-left: 2.5em;
 }

 .filterStyle{
     padding-left: 2rem;
 }

 .filterColor{
     background-color: lightgray;
     padding: 1rem;
     margin-bottom: 1rem;
 }